// Core variables and mixins
@import '../core';

.account-type{
  font-family: $font-regular;
  font-size: rem(12px);
  line-height: rem(17px);
  color: $gray-32;
  margin: rem(0 0 4px);
}

.account-dropdown{

  .btn-dropdown{
    width: 100%;
    @include align-items(center);
    font-family: $font-semibold;
    font-size: rem(16px);
    line-height: rem(22px);
    color: $gray-32;
    border: none;
    @include boxShadow(none);
    padding: 0;
    text-align: left;
    padding-right: rem(18px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover, &:focus, &:active, &:not([disabled]):not(.disabled):active{
      background-color: transparent;
    }

    i{
      position: absolute;
      right: 0;
      top: 50%;
      @include translate(0, -50%);
      font-size: rem(17px);
      color: $gray-57;
    }
  }

  .dropdown-menu{
    width: 100%;
    @include border-radius(0);
    border-color: $gray-81;
    padding: rem(6px 0);
  }

  .dropdown-item{
    font-size: rem(12px);
    line-height: rem(17px);
    text-align: left;
    padding: rem(6px 12px);
    color: $gray-32;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover, &:focus, &:active{
      background-color: $gray-96;
    }
  }
}

.apollo-left-nav{

  > li{

    > a{
      position: relative;
      font-family: $font-regular;
      font-size: rem(14px);
      line-height: rem(20px);
      color: $gray-59;
      padding: rem(6px 0 6px 40px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      i{
        position: absolute;
        left: 0;
        top: 50%;
        @include translate(0, -50%);
        font-size: rem(16px);
        color: $gray-39;
      }

      &.active{
        font-family: $font-semibold;
        color: $gray-15;

        i{
          color: $gray-15;
        }
      }

      &:hover, &:focus{
        color: $gray-15;

        i{
          color: $gray-15;
        }
      }
    }
  }
}