// Core variables and mixins
@import '../core';

.druva-card{
  padding: $card-spacer-x;
  @include boxShadow(rem(0 1px 2px 0) rgba(141,141,141,0.50));
  border: none;

  .card-header{
    padding: 0;
    margin: rem(0 0 27px);
    background-color: transparent;
    border-bottom: none;
    font-family: $font-semibold;
    font-size: rem(12px);
    line-height: rem(17px);
    color: $gray-11;
  }

  .card-body{
    padding: 0;
  }
}

.summary-card{

  .left, .right{
    position: relative;
    margin-top: 17px;
    &:first-child{
      margin-bottom: 83px;
    }
  }

  .left i{
    left: 0;
  }

  .right{
    text-align: right;

    i{
      right: 0;
    }
  }

  i{
    position: absolute;
    top: 50%;
    @include translate(0, -50%);
    font-size: 18px;
    line-height: 18px;
    color: $gray-39;
  }

  .info{
    > .txt{
      font-size: 11px;
      line-height: 15px;
      font-family: $font-semibold;
      color: $gray-40;
    }
    .number{
      font-size: 18px;
      line-height: 24px;
      font-family: $font-bold;
      color: $gray-20;

      .txt-normal{
        font-family: $font-regular;
      }

    }
  }
}

.backup-card{

  .status-wrap{
    display: flex;
  }

  .circle{
    width: 152px;
    height: 152px;
    border: 25px solid #ccc;
    border-radius: 50%;
  }
}
