// Core variables and mixins
@import '../core';

.checkbox {

  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: rem(-9999px);
  }

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: rem(22px);
    cursor: pointer;
    font-family: $font-regular;
    font-size: rem(12px);
    line-height: rem(16px);
    min-height: rem(16px);
    font-weight: normal;
    color: $gray-20;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 50%;
    width: rem(12px);
    height: rem(12px);
    border: rem(1px) solid $gray-64;
    background: $white;
    @include border-radius(rem(2px));
    margin: rem(-6px 0 0);
  }

  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    font-family: 'druva-icons' !important;
    content: '\e91a';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: rem(1px);
    font-size: rem(10px);
    line-height: rem(6px);
    color: $blue-1;
    transition: all 0.2s ease;
    margin: rem(-2px 0 0);
  }

  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    @include opacity(0);
  }

  [type="checkbox"]:checked + label:after {
    @include opacity(1);
  }

  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: $gray-64;
    background-color: $white;
  }

  [type="checkbox"]:disabled:checked + label:after {
    color: $gray-64;
  }

  [type="checkbox"]:disabled + label {
    color: rgba(51, 51, 51, 0.5);
    cursor: not-allowed;
  }
}