
.detail-list{

  .text-truncate{
    @include media-breakpoint-down(md) {
      white-space: inherit;
    }
  }

  dt,dd{
    margin-bottom: rem(14px );
    font-size: rem(12px);
  }

  dt{
    font-weight: normal;
  }

  dd{
    position: relative;
    font-family: $font-semibold;
  }
}