.diagram-container {
  @include flex(1);
}

.diagram-box{
  padding: rem(78px 20px 96px);
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.txt-info {
  font-family: $font-regular;
  font-size: rem(14px);
  line-height: rem(20px);
  color: $gray-20;
  margin: rem(0 0 52px);
  padding: rem(10px 24px 0);
}

.diagram {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  margin: rem(126px) auto rem(124px);

  .img-diagram{
    width: 100%;
  }
}