// Core variables and mixins
@import '../core';

.do-page-header{
  position: relative;
  z-index: 1;
}

.do-page-nav{
  background-color: $gray-32;
  border: none;
  margin: 0;
  @include boxShadow(0px 3px 7px 0px rgba(69,69,69,0.5));
}

.navbar-brand{
  padding-right: rem(10px);

  .img-logo{
    display: inline-block;
    vertical-align: middle;
    width: rem(28px);
    margin-right: rem(11px);
  }

  .brandText {
    line-height: rem(22px);
    color: $gray-82;
    position: relative;
    top: rem(1px);

    &:hover, &:focus{
      color: $gray-82;
    }
  }

  &:hover, &:focus{
    text-decoration: none;
  }
}