.modal-wrapper{
  .modal{
    left: 16.66667%;
    top: 48px;
  }

  .modal-dialog{
    margin: 0;
    max-width: 100%;
    height: 100%;
    display: flex;
  }

  .modal-content{
    @include flex(1);
    border-radius: 0;
  }

  .title-wrap .btn-close {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: #F0F0F0;
    padding: 0;
    cursor: pointer;
  }

  .druva-form{
    @include flexbox();
    @include flex-dir(column);
    @include flex(1);

    label{
      font-size: 12px;
      line-height: 16px;
      color: #525252;
    }

    .dropdown-menu{
      font-size: 12px;
      line-height: 17px;
      @include border-radius(0);

      > .dropdown-item{
        font-family: $font-semibold;
      }
    }

    .dropdown-item:hover {
      background-color: $blue-3;
    }

    .dropdown-toggle{
      position: relative;
      width: 100%;
      display: block;
      font-family: "open_sanssemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 0.75rem;
      line-height: 1.0625rem;
      color: #525252;
      padding: 0.125rem 1.25rem 0.25rem 0.375rem;
      border: none;
      border-bottom: 0.0625rem solid #737373;
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
      text-align: left;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:active{
        background-color: transparent;
        box-shadow: none;
      }

      &:before {
        position: absolute;
        top: 50%;
        right: 0.125rem;
        @include translate(0, -50%);
        content: "\E91F";
        font-family: 'druva-icons' !important;
        line-height: 1;
        font-size: 0.875rem;
        color: #929292;
      }

      &:after{
        content: '';
        display: none;
      }
    }

    .btn-action{
      padding: 6.5px;
      @include border-radius(50%);
      line-height: 1;
    }
  }

  .fieldset-wrap{
    height: calc(100vh - 238px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  legend{
    font-family: $font-semibold;
    font-size: 0.75rem;
    line-height: 1.0625rem;
    color: #252525;
    margin: 0;
  }

}

.modal-backdrop{
     top: 48px;
 }


.day-group{
  @include flexbox();

  .btn-green{
    @include flex(1);
    width: rem(28px);
    height: rem(29px);
    padding: rem(4px);
    border: rem(1px) solid $gray-59;
    font-family: $font-regular;
    @include border-radius(0);

    &:focus, &:active{
      border-color: $gray-59;
    }

    &.active{
      background-color: #A0D365;
      border-color: $gray-59;
    }
  }

  &.is-invalid{

    .btn{
      border-bottom-width: rem(2px);
      border-bottom-color: $red-2;

      &:focus{
        @include boxShadow(none);
      }
    }

    ~ .invalid-feedback{
      display: block;
    }
  }

  &.is-valid{

    .btn{
      border-color: $gray-47;

      &:focus{
        @include boxShadow(none);
      }
    }
  }
}