// Core variables and mixins
@import '../core';

.do-page{
  @include flexbox();
  @include flex-direction(column);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .title-wrap {
    position: relative;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);

    .txt-update{
      @include flexbox();
      @include justify-content(flex-end);
      @include align-items(center);
      font-size: rem(11px);
      line-height: rem(15px);
      color: #666666;
      margin: 0;
      text-align: right;

      > .nav-link{
        display: inline-block;
        font-size: rem(16px);
        padding: 0;
        margin-left: rem(5px);
        color: #646464;
      }
    }
  }

  .options-wrap {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);

    .txt-info{
      font-family: $font-semibold;
      font-size: rem(12px);
      line-height: rem(32px);
      color: $gray-32;
      margin: 0;
    }
  }

  .page-title {
    font-family: $font-semibold;
    line-height: rem(32px);
    font-weight: normal;
    color: $gray-32;
    margin: 0;
    letter-spacing: rem(0.5px);
  }
}

.do-page-sidebar{
  @include flexbox();
  @include flex-direction(column);
  background-color: $gray-96;
  height: 100%;

  @include media-breakpoint-down(sm){
    height: auto;
  }
}

.filter-wrap{

  .btn-filter{
    width: rem(26px);
    height: rem(30px);
    padding: 0;
  }

  .btn-filter i{
    @include flexbox();
    @include justify-content(center);
    font-size:  16px;
  }

  .checkbox{
    @include flex(1 0 50%);

    &:nth-child(even){
      padding-left: 20px;
    }
  }
}

.dropdown-menu-filter{
  width: rem(342px);
  border-color: $gray-59;
  padding: rem(24px 16px 16px);
  margin: rem(10px -2px 0 0);

  &:before{
    content: '';
    position: absolute;
    top: rem(-7px);
    right: rem(6px);
    border-left: rem(8px) solid transparent;
    border-right: rem(8px) solid transparent;
    border-bottom: rem(7px) solid $gray-59;
  }

  &:after{
    content: '';
    position: absolute;
    top: rem(-5px);
    right: rem(6px);
    border-left: rem(8px) solid transparent;
    border-right: rem(8px) solid transparent;
    border-bottom: rem(7px) solid $white;
  }
}