// Core variables and mixins
@import '../core';

.register-content{
  @include flex(1);
  padding: rem(63px 0 0);
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.register-wrap{
  position: relative;
  margin: 0 auto;

  @media (max-width: 991px) {

  }

  @media (max-width: 575px) {
  }

  .wrap-title{
    margin: rem(0 0 60px);
    padding: rem(0 50px 0 0);
  }

  .button-wrap{
    padding: rem(10px 0 0);
    border-top: rem(1px) solid $gray-85;
    text-align: right;
    margin: rem(0 0 30px);
  }

  .btn-close{
    position: absolute;
    top: 0;
    right: 0;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    width: rem(40px);
    height: rem(40px);
    @include border-radius(50%);
    border: none;
    background-color: $gray-94;
    padding: 0;
    cursor: pointer;

    &:hover, &:focus{
      text-decoration: none;
    }

    > i{
      font-size: rem(18px);
      font-weight: bold;
      color: $gray-32;
    }
  }
}

.steps-wrap{
  margin: rem(0 0 50px);
}

.step-box{
  margin: rem(0 0 36px);

  .box-heading{
    font-family: $font-semibold;
    font-size: rem(12px);
    line-height: rem(17px);
    color: $gray-15;
    margin: rem(0 0 24px);
  }

  .box-body{
    margin: 0;

    @media (max-width: 575px) {
      width: 100%;
      padding: 0;
    }

    > p{
      font-family: $font-regular;
      font-size: rem(14px);
      line-height: rem(19px);
      color: $gray-40;
      margin: rem(0 0 16px);

      > a{
        color: $blue-8;
        pointer-events: none;

        &:hover, &:focus{
          text-decoration: none;
        }
      }
    }
  }

  .text-box{
    position: relative;
    width: 100%;
    height: rem(24px);
    margin: rem(0 0 21px);

    > p{
      font-family: $font-semibold;
      font-size: rem(12px);
      line-height: rem(17px);
      color: $gray-32;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      border-bottom: rem(1px) solid $gray-47;
      padding: rem(2px 6px 4px);
    }

    > .btn-secondary{
      position: absolute;
      right: rem(-120px);
      top: 50%;
      @include translate(0, -50%);
    }
  }
}

.video-wrap{

  .btn-show, .btn-hide{
    background-color: transparent;
    display: block;
    border: none;
    padding: 0;
    font-family: $font-regular;
    font-size: rem(11px);
    line-height: rem(15px);
    color: $blue-9;
    text-align: left;

    &:hover, &:focus{
      text-decoration: none;
    }
  }

  .btn-show:before{
    content: 'Show me How';
  }

  .btn-hide:before{
    content: 'Hide Video';
  }

  .video-box{
    max-width: 100%;
    height: rem(187px);
    border: rem(5px) solid #EDE9E9;
    margin: rem(9px 0 0);

    @media (max-width: 575px) {
      height: rem(174px);
    }
  }
}

// Loader next to button
.button-wrap{
  position: relative;

  svg.loader{
    width: 22px;
    height: 22px;
    margin: 5px 0 0 0;
    position: absolute;
    right: -25px;
    left: inherit;
  }
}