// Core variables and mixins
@import '../core';

.user-profile-dropdown{
  margin-right: rem(10px);

  .btn-profile{
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    background-color: transparent;
    @include boxShadow(none);
    padding: rem(11px 0);
    border: none;

    &:hover, &:focus, &:active, &:not([disabled]):not(.disabled):active{
      background-color: transparent;
      border: none;
      @include boxShadow(none);
    }

    .profile-pic{
      width: rem(26px);
      height: rem(26px);
      background-color: $green-2;
      font-family: $font-regular;
      font-size: rem(12px);
      line-height: rem(26px);
      text-align: center;
      color: $white;
      @include border-radius(50%);
      margin-right: rem(1px);
      text-transform: uppercase;
    }

    > i{
      font-size: rem(17px);
      color: $gray-60;
    }
  }

  .dropdown-menu{
    left: auto;
    right: 0;
    width: rem(295px);
    margin: 0;
    padding: 0;
    @include boxShadow(rem(0 0 11px 0) rgba(0, 0, 0, 0.12));
    border-color: $gray-81;
    @include border-radius(0);
    z-index: 9999 !important;

    &:before{
      content: '';
      position: absolute;
      border-left: rem(7px) solid transparent;
      border-right: rem(7px) solid transparent;
      border-bottom: rem(7px) solid $white;
      top: rem(-7px);
      right: rem(23px);
    }

    &:after{
      content: '';
      position: absolute;
      border-left: rem(8px) solid transparent;
      border-right: rem(8px) solid transparent;
      border-bottom: rem(8px) solid $gray-81;
      top: rem(-9px);
      right: rem(22px);
      z-index: -1;
    }
  }

  .list-dropdown{
    list-style-type: none;
    padding: 0;
    margin: 0;

    > li{
      border-top: rem(1px) solid #CFCFCF;

      > a{
        padding: 0;

        &:hover, &:focus{
          background-color: transparent;
          text-decoration: none;
        }
      }

      &:first-child{
        border-top: none;
      }

      &.list-item-email{
        padding: rem(18px 21px 20px);

      }

      &.list-item-link{
        padding: rem(6px 21px);
      }

      &.list-item-button{
        padding: rem(20px 21px);
      }
    }

    .list-item-email{

      .profile-pic{
        width: rem(36px);
        height: rem(36px);
        display: inline-block;
        @include border-radius(50%);
        background-color: $green-2;
        text-align: center;
        vertical-align: middle;

        > small{
          font-size: rem(16px);
          line-height: rem(36px);
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }

      a{
        color: $blue;
      }

      .txt-email{
        font-size: rem(12px);
        line-height: rem(30px);
        vertical-align: middle;
        margin-left: rem(9px);
      }

      &.active{

        a{
          color: $blue;
        }
      }
    }

    .list-item-link{

      > a{
        display: inline-block;
        font-size: rem(12px);
        line-height: rem(26px);
        color: $blue;
      }
    }

    .list-item-button{

      > a{
        width: rem(90px);
        height: rem(30px);
        font-family: $font-semibold;
        font-size: rem(14px);
        line-height: rem(30px);
        color: $white;
        text-align: center;
        background-color: $blue;

        &:hover, &:focus{
          background-color: $blue;
          color: $white;
          text-decoration: none;
          @include tab-focus();
        }
      }
    }
  }
}