aside.do-page-sidebar.pl-3.pr-3.pt-4.pb-4
  div
    p.account-type AWS Account
    .account-dropdown.mb-5.dropdown
      button.btn-dropdown.btn.btn-secondary(type="button", aria-haspopup="true", aria-expanded="false", style="background-color:transparent;")
        | DAS-Prod-1
        i.icon-caret-down
      .dropdown-menu.dropdown-menu-right(tabindex="-1", role="menu", aria-hidden="true")
        button.dropdown-item(type="button", tabindex="0") DAS-Prod-2
        button.dropdown-item(type="button", tabindex="0") DAS-Prod-3
        button.dropdown-item(type="button", tabindex="0") 20117572563
    ul.apollo-left-nav.nav.flex-column
      li.nav-item
        a.nav-link(href="#")
          i.icon-dashboard
          | Dashboard
      li.nav-item
        a.nav-link(href="#")
          i.icon-instances
          | Instances
      li.nav-item
        a.nav-link.active(href="#")
          i.icon-file-text
          | Policies
      li.nav-item
        a.nav-link(href="#")
          i.icon-jobs
          | Jobs
      li.nav-item
        a.nav-link(href="#")
          i.icon-gear
          | Settings