nav.do-page-nav.navbar.navbar-expand-md.justify-content-between
  a.navbar-brand(href="#")
    img.img-logo(src='../images/druva-logo-green.svg')
    span.brandText Apollo
  .user-profile-dropdown.dropdown
    button.btn-profile.btn.btn-secondary(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
      .profile-pic ks
      i.icon-caret-down
    .dropdown-menu.dropdown-menu-right
      ul.list-dropdown
        li.list-item-email
          a.nav-link
            .profile-pic
              small ks
            span.txt-email ks@gmail.com
        li.list-item-link
          a.nav-link Default Link 1
        li.list-item-link
          a.nav-link Default Link 2
        li.list-item-button
          a.nav-link Log out