@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
  url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
  url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
  url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
  url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'druva-icons';
  src:  url('../fonts/druva-icons.eot?k17m4n');
  src:  url('../fonts/druva-icons.eot?k17m4n#iefix') format('embedded-opentype'),
  url('../fonts/druva-icons.ttf?k17m4n') format('truetype'),
  url('../fonts/druva-icons.woff?k17m4n') format('woff'),
  url('../fonts/druva-icons.svg?k17m4n#druva-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'druva-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\e900";
}
.icon-cloud-backup:before {
  content: "\e901";
}
.icon-device-backup:before {
  content: "\e902";
}
.icon-compliance:before {
  content: "\e903";
}
.icon-database:before {
  content: "\e904";
}
.icon-device:before {
  content: "\e905";
}
.icon-exclamation-circle:before {
  content: "\e906";
}
.icon-feed:before {
  content: "\e907";
}
.icon-file-text:before {
  content: "\e908";
}
.icon-file:before {
  content: "\e909";
}
.icon-gavel:before {
  content: "\e90a";
}
.icon-play:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-server:before {
  content: "\e90d";
}
.icon-support:before {
  content: "\e90e";
}
.icon-vmware:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e910";
}
.icon-user:before {
  content: "\e911";
}
.icon-download:before {
  content: "\e912";
}
.icon-desktop-o:before {
  content: "\e913";
}
.icon-instance:before {
  content: "\e914";
}
.icon-bell-o:before {
  content: "\e915";
}
.icon-sort:before {
  content: "\e916";
}
.icon-locator:before {
  content: "\e917";
}
.icon-cloud:before {
  content: "\e918";
}
.icon-cross:before {
  content: "\e919";
}
.icon-check:before {
  content: "\e91a";
}
.icon-angle-down:before {
  content: "\e91b";
}
.icon-angle-left:before {
  content: "\e91c";
}
.icon-angle-right:before {
  content: "\e91d";
}
.icon-angle-up:before {
  content: "\e91e";
}
.icon-caret-down:before {
  content: "\e91f";
}
.icon-caret-up:before {
  content: "\e920";
}
.icon-plus:before {
  content: "\e921";
}
.icon-minus:before {
  content: "\e922";
}
.icon-dots:before {
  content: "\e923";
}
.icon-arrow-up:before {
  content: "\e924";
}
.icon-arrow-down:before {
  content: "\e925";
}
.icon-arrow-left-o:before {
  content: "\e926";
}
.icon-arrow-profile:before {
  content: "\e927";
}
.icon-arrow-manage:before {
  content: "\e928";
}
.icon-insync:before {
  content: "\e929";
}
.icon-phoenix:before {
  content: "\e92a";
}
.icon-dashboard:before {
  content: "\e92b";
}
.icon-jobs:before {
  content: "\e92c";
}
.icon-instances:before {
  content: "\e92d";
}
.icon-backup-policy:before {
  content: "\e92e";
}
.icon-audit-trail:before {
  content: "\e92f";
}
.icon-question-circle:before {
  content: "\e930";
}
.icon-admin-user:before {
  content: "\e931";
}
.icon-admin-settings:before {
  content: "\e932";
}
.icon-pen:before {
  content: "\e933";
}
.icon-trash:before {
  content: "\e934";
}
.icon-caret-left:before {
  content: "\e935";
}
.icon-caret-right:before {
  content: "\e936";
}
.icon-exclamation-circle-b:before {
  content: "\e937";
}
.icon-arrow-up-down:before {
  content: "\e938";
}
.icon-refresh:before {
  content: "\e939";
}
.icon-recovery:before {
  content: "\e93a";
}
.icon-gear:before {
  content: "\e93b";
}
.icon-call-out:before {
  content: "\e93c";
}
.icon-gavel-o:before {
  content: "\e93d";
}
.icon-recovery-o:before {
  content: "\e93e";
}