// Core variables and mixins
@import 'core';

html{
  @include rem-baseline;
}

html, body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

#root-container {
  @include flexbox();
  @include flex-direction(column);
  min-height: 100vh;
}


.do-container {
  @include flexbox();
  @include flex-direction(column);
  @include flex(1);
}

.do-page-container {
  @include flexbox();
  @include flex(1);
}

// Display scss
.flex-1{
  @include flex(1);
}


// Button scss
button, a{
  cursor: pointer;

  &:focus{
    @include tab-focus();
  }

  &.disabled,
  &[disabled]{
    cursor: not-allowed;
  }
}

.btn{
  @include button-size($input-btn-padding-y, $input-btn-padding-x, rem(12px), rem(17px), $btn-border-radius);
  letter-spacing: rem(0.5px);

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    background-color: $blue-7;
    border-color: $blue-7;
    opacity: 1;
    cursor: not-allowed;
    @include boxShadow(none);
  }
}

.btn-primary{
  @include boxShadow(0 0 0 0 transparent, rem(0 2px 2px 0) rgba(0, 0, 0, 0.24), 0 0 0 0 transparent, 0 0 0 0 transparent);
}

.btn-secondary{
  @include boxShadow(0 1px 2px 0 rgba(150,150,150,0.5));
  border-color: $gray-74;
  color: $gray-15;
}

.right-offset-col-1{
  @media (min-width: 576px){
    margin-right: 8.3333333333%;
  }
}

// Form
.form-control{
  font-family: $font-semibold;
  font-size: rem(12px);
  line-height: rem(17px);
  padding: rem(2px 6px 4px);
  border-top: none;
  border-right: none;
  border-bottom-width: rem(1px);
  border-left: none;
  @include border-radius(0);

  &:focus{
    @include tab-focus();
    @include boxShadow(none);
  }

  &.is-invalid{
    border-width: rem(2px);
    border-color: $red-2;

    &:focus{
      @include tab-focus();
      @include boxShadow(none);
    }
  }

  &.is-valid{
    border-color: $gray-47;

    &:focus{
      @include tab-focus();
      @include boxShadow(none);
    }
  }
}

.invalid-feedback{
  font-family: $font-regular;
  font-size: rem(11px);
  line-height: rem(15px);
  font-weight: normal;
  color: $red-1;
  margin: 0;
}


// Moz Placeholder opacity Issue
input::-moz-placeholder {
  @include opacity(1);
}

input:-moz-placeholder {
  @include opacity(1);
}

// Modal Fullscreen
.fullscreen{
  top: rem(48px);
}

.fullscreen-backdrop{
  background-color: transparent;

  &.show{
    @include opacity(1);
  }
}

.fullscreen-dialog{
  @include flexbox();
  max-width: 100%;
  height: calc(100vh - 48px);
  margin: 0;

  .modal-content{
    @include flex(1);
    border: none;
    @include border-radius(0);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .modal-header{
    @include border-radius(0);
  }

  .modal-body{
    padding: 0;
  }

  .modal-footer{
    @include border-radius(0);
  }

  .modal-close{
    position: absolute;
    top: 0;
    right: 0;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    width: rem(40px);
    height: rem(40px);
    @include border-radius(50%);
    border: none;
    background-color: $gray-94;
    padding: 0;
    cursor: pointer;

    > i{
      font-size: rem(18px);
      font-weight: bold;
      color: $gray-32;
    }
  }

  .wrap-title, .modal-title{
    font-size: rem(24px);
    line-height: rem(33px);
    font-weight: normal;
    color: $gray-32;
    letter-spacing: rem(0.5px);
    margin: 0;
  }
}

// Core Components page scss
.components-wrap {
  @include flex(1);

  > h3{
    padding: rem(10px 40px);
    margin: 0;
    border-bottom: rem(3px) solid $gray-95;
  }

  .components-box {
    padding: rem(10px 40px);
    border-bottom: rem(1px) solid $gray-95;
  }
}

// Modal Fullscreen
.fullscreen{
  top: rem(48px);
}

.fullscreen-backdrop{
  background-color: transparent;

  &.show{
    @include opacity(1);
  }
}

.fullscreen-dialog{
  @include flexbox();
  max-width: 100%;
  height: calc(100vh - 48px);
  margin: 0;

  .modal-content{
    @include flex(1);
    border: none;
    @include border-radius(0);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .modal-header{
    @include border-radius(0);
  }

  .modal-body{
    padding: 0;
  }

  .modal-footer{
    @include border-radius(0);
  }

  .modal-close{
    position: absolute;
    top: 0;
    right: 0;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    width: rem(40px);
    height: rem(40px);
    @include border-radius(50%);
    border: none;
    //background-color: $clr-gray-f0;
    padding: 0;
    cursor: pointer;

    > i{
      font-size: rem(18px);
      font-weight: bold;
      //color: $clr-gray-52;
    }
  }

  .wrap-title, .modal-title{
    font-size: rem(24px);
    line-height: rem(33px);
    font-weight: normal;
    //color: $clr-gray-52;
    letter-spacing: rem(0.5px);
    margin: 0;
  }
}