extends ./layouts/main.jade

block content
  .flex-1
    section.do-page.pl-3.pr-3.pt-4.pb-4
      .options-wrap.mb-4
        p.txt-info.ml-auto 18 Policies
        .filter-wrap.ml-auto
          button.btn-filter.btn.btn-secondary(type="button", data-toggle="dropdown", aria-expanded="true", aria-haspopup="true")
            i.icon-sort
          .dropdown-menu-filter.dropdown-menu.dropdown-menu-right(tabindex="-1", role="menu", aria-hidden="false", data-placement="bottom-end")
            h6.mb-2.text-uppercase Filters
            h6.mb-2 Region
            .d-flex.flex-wrap.mb-5
              .checkbox.mb-1
                input#checkbox(type="checkbox", value="on")
                label.mb-0(for="checkbox") All
              .checkbox.mb-1
                input#checkbox1(type="checkbox", value="on")
                label.mb-0(for="checkbox1") Asia Pacific (Tokyo)
              .checkbox.mb-1
                input#checkbox2(type="checkbox", value="on")
                label.mb-0(for="checkbox2") US East (N.Virginia)
              .checkbox.mb-1
                input#checkbox3(type="checkbox", value="on")
                label.mb-0(for="checkbox3") Asia Pacific (Seoul)
              .checkbox.mb-1
                input#checkbox4(type="checkbox", value="on")
                label.mb-0(for="checkbox4") US West (N.California)
              .checkbox.mb-1
                input#checkbox5(type="checkbox", value="on")
                label.mb-0(for="checkbox5") Asia Pacific (Singapore)
              .checkbox.mb-1
                input#checkbox6(type="checkbox", value="on")
                label.mb-0(for="checkbox6") Asia Pacific (Seoul)
              .checkbox.mb-1
                input#checkbox7(type="checkbox", value="on")
                label.mb-0(for="checkbox7") South America (Sao Paulo)
            .text-right
              button.btn.btn-secondary.mr-1 Reset
              button.btn.btn-primary Apply


      .row
        .col-sm-6
          .druva-card.card.summary-card
            .card-header Summary
            .card-body
              .row
                .col-sm-6
                  div.left.pl-5
                    i.icon-user
                    .info
                      .number 1
                      div.txt AWS Accounts
                  div.left.pl-5
                    i.icon-instances
                    .info
                      .number
                        span 123&nbsp;
                        span.txt-normal / 174
                      .txt Proteted Instances
                .col-sm-6
                  div.right.pr-5
                    i.icon-instance
                    .info
                      .number 0
                      .txt Total Snapshots
                  div.right.pr-5
                    i.icon-refresh
                    .info
                      .number 0
                      .txt Total Restores
        .col-sm-6
          .druva-card.card.backup-card
            .card-header Backup Status
            .card-body
              .status-wrap.text-center
                .circle
                .value
                  .green Backup Successful
                    span 0
                  .red Backup Failed
                    span 0
                  .blue Never Backed up
                    span 0