extends ./layouts/main.jade

block content
  .flex-1.no-gutters.row
    .col-sm-2
      include ./inc/apolloLeftNav.jade
    .col-sm-10
      .do-page.pl-3.pr-3.pt-4.pb-4
        .d-flex.justify-content-between.pb-3
          h4.page-title Backup Policies
          // Button trigger modal
          button.btn.btn-primary.mr-1(data-toggle="modal", data-target="#exampleModal") Create New Policy
        div.modal-wrapper
          // Modal
          #exampleModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
            .modal-dialog(role="document")
              .modal-content
                .modal-body
                  .row
                    .d-flex.flex-column.col.col-sm-10
                      .title-wrap
                        h4.page-title Create New Policy
                        button.btn-close(type="button", data-dismiss="modal")
                          i.icon-close
                      form.druva-form
                        .fieldset-wrap
                          fieldset.mb-4
                            legend General
                            .row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label(for="policyName") Policy Name
                              .col.col-sm-4
                                input#policyName.is-invalid.form-control(type="text", name="policyName")
                                .invalid-feedback Oh noes! that name is already taken
                            .mb-0.row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label(for="description")
                                | Description
                                .help-text (Optional)
                              .col.col-sm-4
                                input#description.form-control(type="text", name="description")
                          fieldset.mb-4
                            legend Schedule
                            .row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label Backup Frequency
                              .col.col-sm-2
                                .druva-form-dropdown.dropdown
                                  button.dropdown-toggle.btn.btn-secondary(type="button",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Daily
                                  .dropdown-menu(tabindex="-1", role="menu", aria-hidden="true")
                                    button.selected.dropdown-item(type="button", tabindex="0") Daily
                                    button.dropdown-item(type="button", tabindex="0") Weekly
                            .row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label Starts
                              .col.col-sm-2
                                .druva-form-dropdown.dropdown
                                  button.dropdown-toggle.btn.btn-secondary(type="button", aria-haspopup="true",data-toggle="dropdown", aria-expanded="false") every
                                  .dropdown-menu(tabindex="-1", role="menu", aria-hidden="true")
                                    button.selected.dropdown-item(type="button", tabindex="0") at
                                    button.dropdown-item(type="button", tabindex="0") every
                              .col.col-sm-2
                                .druva-form-dropdown.time-dropdown.is-invalid.dropdown
                                  button.dropdown-toggle.btn.btn-secondary(type="button",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 2 hours
                                  .dropdown-menu(tabindex="-1", role="menu", aria-hidden="true")
                                    button.dropdown-item(type="button", tabindex="0")
                                      strong 5
                                      | minutes
                                    button.dropdown-item(type="button", tabindex="0")
                                      strong 20
                                      | minutes
                                    button.dropdown-item(type="button", tabindex="0")
                                      strong 30
                                      | minutes
                                    button.dropdown-item(type="button", tabindex="0")
                                      strong 1
                                      | hour
                                    button.selected.dropdown-item(type="button", tabindex="0")
                                      strong 2
                                      | Hours
                                    button.dropdown-item(type="button", tabindex="0")
                                      strong 4
                                      | Hours
                                    button.dropdown-item(type="button", tabindex="0")
                                      strong 8
                                      | Hours
                                    button.dropdown-item(type="button", tabindex="0")
                                      strong 12
                                      | Hours
                                .invalid-feedback Invaild selection
                            .row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label Repeat Every
                              .col.col-sm-2
                                .druva-form-dropdown.dropdown
                                  button.dropdown-toggle.btn.btn-secondary(type="button",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 2
                                  .dropdown-menu(tabindex="-1", role="menu", aria-hidden="true")
                                    button.dropdown-item(type="button", tabindex="0") 1
                                    button.selected.dropdown-item(type="button", tabindex="0") 2
                                    button.dropdown-item(type="button", tabindex="0") 3
                              label.col-sm-1.col-form-label Week(s)
                            .row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label Repeat on
                              .col.col-sm-3
                                .day-group.is-invalid.btn-group(role="group")
                                  button.btn.btn-green.active(type="button") Su
                                  button.btn.btn-green(type="button") M
                                  button.btn.btn-green(type="button") T
                                  button.btn.btn-green(type="button") W
                                  button.btn.btn-green(type="button") TH
                                  button.btn.btn-green(type="button") F
                                  button.btn.btn-green(type="button") S
                                .invalid-feedback Invaild selection
                            .row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label Starts at
                              .col.col-sm-2
                                .druva-form-dropdown.dropdown
                                  button.dropdown-toggle.btn.btn-secondary(type="button",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 22:30
                                  .dropdown-menu(tabindex="-1", role="menu", aria-hidden="true")
                                    button.dropdown-item(type="button", tabindex="0") 20:30
                                    button.dropdown-item(type="button", tabindex="0") 21:30
                                    button.selected.dropdown-item(type="button", tabindex="0") 22:30
                            .mb-3.form-group
                              .mb-3.row
                                label.offset-sm-2.col-sm-3.col-form-label Time Zone
                                .col.col-sm-3
                                  label.-radio.form-check-label
                                    input.druva-form-radio.mt-0.form-check-input(type="radio", name="timeZone", value="on")
                                    |  Instance Region Time Zone
                                .col.col-sm-3
                                  label.-radio.form-check-label
                                    input.druva-form-radio.mt-0.form-check-input(type="radio", name="timeZone", value="on")
                                    |  Custom Time Zone
                              .row
                                .offset-sm-5.col.col-sm-3
                                  .druva-form-dropdown.dropdown
                                    button.dropdown-toggle.btn.btn-secondary(type="button",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Select Country
                                    .dropdown-menu(tabindex="-1", role="menu", aria-hidden="true")
                                      button.dropdown-item(type="button", tabindex="0") Option 1
                                      button.dropdown-item(type="button", tabindex="0") Option 2
                                      button.dropdown-item(type="button", tabindex="0") Option 3
                                .col.col-sm-3
                                  .druva-form-dropdown.dropdown
                                    button.dropdown-toggle.btn.btn-secondary(type="button",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Select Time Zone
                                    .dropdown-menu(tabindex="-1", role="menu", aria-hidden="true")
                                      button.dropdown-item(type="button", tabindex="0") Option 1
                                      button.dropdown-item(type="button", tabindex="0") Option 2
                                      button.dropdown-item(type="button", tabindex="0") Option 3
                            .row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label(for="rebootInstance") Reboogy Instance
                              .col.col-sm-4
                                label.form-check-label
                                  input#rebootInstance.druva-form-check.form-check-input(type="checkbox", value="on")
                            small.offset-sm-2.pt-1.form-text.text-muted Note: Instances will backup as AMIs
                          fieldset.mb-4
                            legend Retention
                            .row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label(for="forDays") Keep all snapshots for
                              .col.col-sm-1
                                input#forDays.form-control(type="number", name="forDays")
                              label.col-sm-1.col-form-label days
                            .row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label(for="forWeeks") Keep weekly revisions for
                              .col.col-sm-1
                                input#forWeeks.form-control(type="number", name="forWeeks")
                              label.col-sm-1.col-form-label weeks
                            .row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label(for="forMonths") Keep monthly revisions for
                              .col.col-sm-1
                                input#forMonths.form-control(type="number", name="forMonths")
                              label.col-sm-1.col-form-label months
                            .row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label(for="forYears") Keep yearly revisions for
                              .col.col-sm-1
                                input#forYears.form-control(type="number", name="forYears")
                              label.col-sm-1.col-form-label years
                          fieldset.mb-1
                            legend Advanced
                            .row.form-group
                              label.offset-sm-2.col-sm-3.col-form-label(for="awsTags") Apply AWS tags to AMIs from respective instances
                              .col.col-sm-4
                                label.form-check-label
                                  input#awsTags.druva-form-check.mt-0.form-check-input(type="checkbox", value="on")
                            .mb-0.form-group
                              .mb-3.row
                                label.offset-sm-2.col-sm-3.col-form-label
                                  | Save additional AMI copies in
                                  .help-text (Optional)
                                .col.col-sm-3
                                  .druva-form-dropdown.is-invalid.dropdown
                                    button.dropdown-toggle.btn.btn-secondary(type="button",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") COE_WebApps
                                    .dropdown-menu(tabindex="-1", role="menu", aria-hidden="true")
                                      button.dropdown-item(type="button", tabindex="0") Option 1
                                      button.dropdown-item(type="button", tabindex="0") Option 2
                                      button.dropdown-item(type="button", tabindex="0") Option 3
                                      button.selected.dropdown-item(type="button", tabindex="0") COE_WebApps
                                  .invalid-feedback Invaild selection
                                .col.col-sm-3
                                  .druva-form-dropdown.dropdown
                                    button.dropdown-toggle.btn.btn-secondary(type="button",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") US West (N. California)
                                    .dropdown-menu(tabindex="-1", role="menu", aria-hidden="true")
                                      button.dropdown-item(type="button", tabindex="0") Option 1
                                      button.dropdown-item(type="button", tabindex="0") Option 2
                                      button.dropdown-item(type="button", tabindex="0") Option 3
                                      button.selected.dropdown-item(type="button", tabindex="0") US West (N. California)
                                .col.col-sm-1
                                  button.btn-action.btn.btn-secondary
                                    i.icon-cross
                              .mb-3.row
                                .col.col-sm-3.offset-sm-5
                                  .druva-form-dropdown.dropdown
                                    button.dropdown-toggle.btn.btn-secondary(type="button",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Select AWS Account
                                    .dropdown-menu(tabindex="-1", role="menu", aria-hidden="true")
                                      button.dropdown-item(type="button", tabindex="0") Option 1
                                      button.dropdown-item(type="button", tabindex="0") Option 2
                                      button.dropdown-item(type="button", tabindex="0") Option 3
                                .col.col-sm-3
                                  .druva-form-dropdown.dropdown
                                    button.dropdown-toggle.btn.btn-secondary(type="button",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Select Region
                                    .dropdown-menu(tabindex="-1", role="menu", aria-hidden="true")
                                      button.dropdown-item(type="button", tabindex="0") Option 1
                                      button.dropdown-item(type="button", tabindex="0") Option 2
                                      button.dropdown-item(type="button", tabindex="0") Option 3
                                .col.col-sm-1
                                  button.btn-action.btn.btn-secondary
                                    i.icon-plus
                        .button-wrap.text-right
                          button.btn.btn-secondary.mr-1(type="button", data-dismiss="modal") Cancel
                          button.btn.btn-primary Save