extends ./layouts/main.jade

block content
  .diagram-container
    .row
      .offset-sm-2.col-sm-8
        .diagram-box
          .diagram
            img.img-diagram(src="../images/aws-diagram.png", alt="")
          p.txt-info
            | To start backing up your AWS Instances you need to register an AWS Account to Apollo. Upon successful AWS Account registration, Apollo will get the list of Instances which you can start backing up using backup policies.
          a.btn.btn-primary(href="/register.html") Register AWS Account
