doctype html
html(class="no-js", lang="pt-br")
  head
    block head
      meta(charset="utf-8")
      meta(content="IE=edge", http-equiv="X-UA-Compatible")
      meta(content="width=device-width, initial-scale=1, user-scalable=0", name="viewport")
      meta(name="msapplication-TileColor", content="#000000")
      meta(name="theme-color", content="#000000")
      title Druva
      link(rel='stylesheet', href="styles/main.css")
      //[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]
    style(type="text/css").
      .bg-color{
        background-color: red;
      }
  body(style="background-color:#89C293;")
    //[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]
    .container
      div(style="background-color:gray;")
        | card container
      .row(style="background-color:blue;")
        .col-1
          div.bg-color 1
        .col-1
          div.bg-color 2
        .col-1
          div.bg-color 3
        .col-1
          div.bg-color 4
        .col-1
          div.bg-color 5
        .col-1
          div.bg-color 6
        .col-1
          div.bg-color 7
        .col-1
          div.bg-color 8
        .col-1
          div.bg-color 9
        .col-1
          div.bg-color 10
        .col-1
          div.bg-color 11
        .col-1
          div.bg-color 12
    div(style="max-width:1140px;margin:auto;")
      .row.no-gutters
        .col-2
          div(style="height:100px;background-color:gray;")  aside
        .col-10
          div(style="background-color:white;height:100px;")


    block scripts
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
      script(src='scripts/vendors.min.js')
      script(src='scripts/scripts.js')