extends ./layouts/main.jade

block content
  .container-fluid
    h2.mt-4.pl-4.mb-2 List of static pages
    .pl-4(style="width:25%;")
      .list-group
        a.list-group-item.list-group-item-action.text-truncate(href='components.html', target="_blank") Components
        a.list-group-item.list-group-item-action.text-truncate(href='settings.html', target="_blank") Settings
        a.list-group-item.list-group-item-action.text-truncate(href='diagram.html', target="_blank") Diagram
        a.list-group-item.list-group-item-action.text-truncate(href='register.html', target="_blank") Register
        a.list-group-item.list-group-item-action.text-truncate(href='createNewPolicy.html', target="_blank") Create New Policy