extends ./layouts/main.jade

block content
  .flex-1.no-gutters.row
    .col-sm-2
      include ./inc/apolloLeftNav.jade
    .col-sm-10
      .do-page.pl-3.pr-3.pt-4.pb-4
        .d-flex.justify-content-between.pb-3
          h4.page-title Druva Apollo
          div
            button.btn.btn-primary.mr-1 Edit
            button.btn.btn-secondary Delete
        .druva-card.card
          .card-header Policy Details
          .card-body
            dl.row.no-gutters.detail-list
              dt.col-sm-4.col-lg-2
                | Policy Name
              dd.col-sm-7.offset-sm-1.col-lg-3.offset-lg-1.text-truncate.pr-5
                | Druva Apollo
              dt.col-sm-4.col-lg-2
                | Retention
              dd.col-sm-7.offset-sm-1.col-lg-3.offset-lg-1.text-truncate.pr-5
                | Praeterea iter est quasdam res quas ex communi.Praeterea iter est quasdam res quas ex communi.Praeterea iter est quasdam res quas ex communi.
              dt.col-sm-4.col-lg-2
                | Description
              dd.col-sm-7.offset-sm-1.col-lg-3.offset-lg-1.text-truncate.pr-5
                | New Policy
              dt.col-sm-4.col-lg-2
                | # Instances Applied to
              dd.col-sm-7.offset-sm-1.col-lg-3.offset-lg-1.text-truncate.pr-5
                | 4